<div class="header-container">
  <div class="header-canvas">
    <div class="menu-list">
      <a class="logo header-links" routerLink="/home"
        ><img src="./../../../assets/images/logo.png"
      /></a>
      <div class="header-link-group">
        <a class="header-links" routerLinkActive="active" routerLink="/posts"
          >All Posts</a
        >
        <a class="header-links" routerLinkActive="active" routerLink="/about"
          >About</a
        >
        <a class="header-links" routerLinkActive="active" routerLink="contact"
          >Contact</a
        >
      </div>
    </div>
  </div>
</div>
