div.header-container {
  width: 100%;
  background-color: white;
  border-bottom: 0.5px solid black;
  height: 100px;
  position: fixed;
  top: 0%;
  left: 0%;
  z-index: 1;
}

div.header-canvas {
  width: 95%;
  margin: auto;
  height: 80px;
  margin-top: 10px;
}

a.logo {
  width: 100%;
}

a.logo img {
  height: 80px;
}

div.header-link-group {
  margin: -60px 0 0 123px;
}

div.header-link-group .active {
  background-color: rgba(0, 0, 255, 0.6);
  color: white;
}

div.header-link-group a.header-links {
  padding: 30px;
  font-size: 30px;
  text-decoration: none;
  color: black;
}

div.header-link-group a.header-links:hover {
  background-color: rgba(0, 0, 255, 0.6);
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  div.header-container {
    width: 100%;
    background-color: white;
    border-bottom: 0.2px solid black;
    height: 60px;
    position: fixed;
    top: 0%;
    left: 0%;
    z-index: 1;
  }
  div.header-canvas {
    width: 95%;
    margin: auto;
    height: 50px;
    margin-top: 5px;
  }
  a.logo img {
    height: 45px;
  }
  div.header-link-group {
    margin: -45px 0 0 50px;
  }
  div.header-link-group a.header-links {
    padding: 15px;
    font-size: 25px;
    text-decoration: none;
    color: black;
  }
}

@media only screen and (max-width: 400px) {
  div.header-container {
    width: 100%;
    background-color: white;
    border-bottom: 0.2px solid black;
    height: 50px;
    position: fixed;
    top: 0%;
    left: 0%;
    z-index: 1;
  }
  div.header-canvas {
    width: 95%;
    margin: auto;
    height: 40px;
    margin-top: 5px;
  }
  a.logo img {
    height: 2.5em;
  }
  div.header-link-group {
    margin: -2em 0 0 3em;
  }
  div.header-link-group a.header-links {
    padding: 1em;
    font-size: 1em;
    text-decoration: none;
    color: black;
  }
}