<div class="profile-container">
  <div class="profile-canvas">
    <img
      class="profile-image"
      src="./../../../assets/images/profile-image.png"
    />
    <h2 class="profile-name">Ankeet Kumar Hanny</h2>
    <p class="profile-details">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore
      <span class="strong">magna aliqua</span>. Ut enim ad minim veniam, quis
      nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat.
    </p>
    <div class="social-media-bar">
      <a href="#" class="fa fa-facebook"></a>
      <a
        class="icons twitter"
        href="http://www.twitter.com/ankeethanny007"
        target="blank"
      >
        <img class="twitter-icon" src="./../../../assets/images/twitter.png" />
      </a>
      <a
        class="icons facebook"
        href="http://www.facebook.com/ankeethanny007"
        target="blank"
      >
        <img
          class="facebook-icon"
          src="./../../../assets/images/facebook.png"
        />
      </a>
      <a
        class="icons linkedin"
        href="http://www.linkedin.com/in/ankeethanny007"
        target="blank"
      >
        <img
          class="linkedin-icon"
          src="./../../../assets/images/linkedin.png"
        />
      </a>
      <a
        class="icons instagram"
        href="https://www.instagram.com/ankeethanny007/"
        target="blank"
      >
        <img
          class="instagram-icon"
          src="./../../../assets/images/instagram.png"
        />
      </a>
      <a
        class="icons website"
        href="https://ankeethanny-blog.herokuapp.com/"
        target="blank"
      >
        <img class="website-icon" src="./../../../assets/images/twitter.png" />
      </a>
    </div>
  </div>
</div>
