h1.header {
  margin: 0;
  text-align: center;
  text-transform: capitalize;
}

h4.header-description {
  text-align: center;
  margin: 0;
  text-transform: capitalize;
}

div.image-section {
  overflow: hidden;
}

img.header-image {
  width: 100%;
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

img.header-image:hover {
  -webkit-transform: scale(1);
  transform: scale(1);
}

span.image-description {
  font-size: 10px;
  color: grey;
  margin-top: 0;
}

@media only screen and (max-width: 768px) {
  img.header-image {
    width: 100%;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: none;
    transition: none;
  }
}
